<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Lista de Tests</h5>
                    <a [routerLink]="['/admin/tests/new']" class="btn btn-success">New Test</a>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li *ngFor="let test of tests"
                        class="list-group-item d-flex justify-content-between align-items-start">
                        <div>
                            <h4>{{ test.name }} - {{test.initials}}</h4>
                            <p>{{ test.description }}</p>
                            <h6 [ngClass]="{'text-success': test.isActive, 'text-danger': !test.isActive}">
                                {{ test.isActive ? 'Activo' : 'Inactivo' }}
                            </h6>
                        </div>
                        <div class="d-flex">
                            <button class="btn btn-primary mr-2" (click)="editarTest(test.id)">Editar</button>
                            <button class="btn btn-danger" (click)="eliminarTest(test.id)">Eliminar</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>